<div class="page-container">
  <div class="content-wrapper">
    
    <div class="header-section">
      <h1>Robot Autonome de Navigation</h1>
      
    <div class="badge-container">
      <span class="badge cpp">C / C++</span>
      <span class="badge embedded">Linux Env.</span>
      <span class="badge embedded">AVR LibC</span>
      <span class="badge hardware">Microcontrôleur AVR</span>
      <span class="badge hardware">Communication IR</span>
      <span class="badge hardware">Capteurs / Interruptions</span>
    </div>
      
      <p>
        Conception d'un système de navigation autonome capable de cartographier et traverser un parcours d'obstacles en temps réel.
      </p>
    </div>

    <div class="info-grid">
      <div class="info-card challenge">
        <h3>Le Challenge Technique</h3>
        <p>
          Le projet nécessitait la coordination de <strong>deux robots distincts</strong>. 
          Le premier devait explorer un parcours et cartographier des obstacles à l'aide d'un capteur de lignes, puis transmettre ces données via Infrarouge au second robot, enfermé dans une zone, qui devait s'orienter et sortir en fonction des infos reçues de capteur de distance.
        </p>
      </div>

    <div class="info-card role">
        <h3>Responsabilité Système & Intégration</h3>
        <p>
          Au sein d'une équipe de 4 personnes, j'avais la responsabilité complète du Robot "Récepteur" tout en assurant l'intégration globale du système :
        </p>
        <ul class="role-list">
          <li><strong>Architecture Logicielle (C) :</strong> Conception d'une machine à états complexe pour gérer les différentes phases (Attente, Réception, Centrage, Sortie) de manière déterministe.</li>
          <li><strong>Asservissement & Capteurs :</strong> Implémentation d'algorithmes de correction de trajectoire (boucle de contrôle) pour garantir un déplacement précis malgré les imperfections mécaniques.</li>
          <li><strong>Collaboration Technique :</strong> Support actif sur le développement du second robot (suivi de ligne) pour assurer que la chaîne complète fonctionne le jour de la démo.</li>
        </ul>
      </div>
    </div>

    <div class="gallery-container">
      <h3 class="gallery-title">Images illustratives du projet</h3>

      <div class="gallery-grid">
        <figure class="gallery-card" (click)="openImage('assets/images/state-machine.png')">
          <div class="image-wrapper">
            <img src="assets/images/state-machine.png" alt="Machine à états">
          </div>
          <figcaption>Machine à états de parcours de robot 2</figcaption>
        </figure>
        <figure class="gallery-card" (click)="openImage('assets/images/motherboard.png')">
          <div class="image-wrapper">
            <img src="assets/images/motherboard.png" alt="Carte mère du robot">
          </div>
          <figcaption>Carte mère utilisé pour chacun des robots (Architecture fournie par INF1900)</figcaption>
        </figure>
      </div>
    </div>

    @if (selectedImage) {
      <div class="modal-overlay"
          (click)="closeImage()">
        
        <img [src]="selectedImage" 
            alt="Agrandissement" 
            class="modal-image"
            (click)="$event.stopPropagation()"> <button class="modal-close">&times;</button>
      </div>
    }

    <div class="tech-section">
      <h4 class="tech-title">
        Environnement Technique & Matériel
      </h4>
      
      <div class="tech-grid">
        
        <div>
          <span class="tech-label">Microcontrôleur</span>
          <p class="tech-name">ATMega324PA (AVR)</p>
          <p class="tech-desc">Programmation C/C++ Bare-Metal, Manipulation de registres & Interruptions.</p>
        </div>

        <div>
          <span class="tech-label">Capteurs Distance</span>
          <p class="tech-name">Sharp GP2Y0A21YK0F</p>
          <p class="tech-desc">Conversion Analogique-Numérique (ADC), Filtrage de signal & Linéarisation.</p>
        </div>

        <div>
          <span class="tech-label">Suivi de Ligne</span>
          <p class="tech-name">Cytron Maker Line (5 Capteurs)</p>
          <p class="tech-desc">Lecture analogique/numérique, calibration automatique & Algorithme PID.</p>
        </div>

        <div>
          <span class="tech-label">Infrarouge</span>
          <p class="tech-name">RX: Panasonic PNA4602 | TX: Lite-On LTE 4208</p>
          <p class="tech-desc">Génération de porteuse 38kHz (PWM Hardware) & Démodulation de signal.</p>
        </div>

      </div>
    </div>

    <div class="action-section">
      <h3 class="action-title">Le Système en Action</h3>
      
      <div class="action-media">
        <img src="/assets/images/robot.gif"
             alt="Démonstration" 
             class="action-image">
      </div>

      <p class="action-caption">
        Démonstration : Le robot 2 détecte la ligne et le cartographie et continue sa navigation de manière autonome.
      </p>
    </div>

    <div class="result-section">
      <h3>Résultat</h3>
      <p>
        Le robot a démontré une autonomie totale sans le besoin d'une intervention humaine, exécutant le scénario de sortie sans déviation de la ligne de parcours et dans les temps impartis, validant ainsi la robustesse de la logique embarquée.
      </p>
      
      <a href="https://github.com/wesamd0/avr-autonomous-robot" target="_blank" class="btn-github">
        Voir le code sur GitHub
      </a>
    </div>

  </div>
</div>